/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

#about, #events, #gallery, #contact, #live, #registration, #statistics {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

input, textarea, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#participants-list {
    list-style: none;
    padding: 0;
}

#participants-list li {
    background-color: #e4e4e4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

#map-container {
    width: 50%;
    height: 300px; /* Reducido el tamaño del mapa */
    margin-top: 20px;
    border-radius: 8px;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
