/* styles.css */

/* Modo Oscuro */
:root {
    --background-color: #1f1f1f;
    --text-color: #ddd;
    --accent-color: #6a5acd;
    --hover-color: #473d8b;
    --section-background: #2f2f2f;
    --form-background: #333;
    --button-background: #6a5acd;
    --button-hover-background: #473d8b;
    --footer-background: #1f1f1f;
    --list-background: #333;
    --title-event:#c0ddff; 
    --asccolor: #8c00ff;
    --descolor:#ff0000; 
    --link:#c9bdff;     

}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--accent-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 100;
}

.menu-toggle span {
    height: 3px;
    width: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

.menu-toggle-close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute; /* Asegúrate de posicionarlo correctamente */
    top: 23px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
}

.menu-toggle-close span {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 5px;
}



.desktop-nav {
    display: flex;
    align-items: center;
}

.desktop-nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.desktop-nav ul li {
    margin: 0;
}

.desktop-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.desktop-nav ul li a:hover {
    background-color: var(--hover-color);
}

.side-nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--section-background);
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.side-nav.show {
    left: 0;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav ul li {
    margin: 10px 0;
}

.side-nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
}

.side-nav ul li a:hover {
    background-color: var(--hover-color);
}

main {
    flex: 1;
    padding: 20px;
    max-width: 90%; /* Cambiado a 100% */
    margin: 0 auto;
    width: 100%; /* Añadido */
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: var(--section-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--text-color);
}

input, textarea, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: var(--form-background);
    color: var(--text-color);
}
button {
    background-color: var(--button-background);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 0.9em; /* Reducción del tamaño del texto */
    padding: 8px 16px; /* Ajuste de espaciado interno más compacto */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espacio entre botones */
    margin-bottom: 10px; /* Espacio entre filas de botones */
}

button:hover {
    background-color: var(--button-hover-background);
}

/* Estilos para los botones */
.button-container {
    display: flex;
    gap: 10px; /* Espacio entre botones */
    justify-content: flex-start; /* Alineación de botones a la izquierda */
    margin-top: 10px; /* Espacio superior */
}

.button-container button {
    background-color: var(--button-background);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px; /* Ajuste de espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Alinea ícono y texto verticalmente */
}

.button-container button i {
    margin-right: 8px; /* Espacio entre ícono y texto */
}

.button-container button:hover {
    background-color: var(--button-hover-background);
}

/* Estilos para el formulario de Google y el mapa */
#google-form-container,
#map-container {
    margin-top: 20px; /* Espacio superior */
}

/* Estilos adicionales para mejorar el diseño general */
.event-info {
    margin-bottom: 20px; /* Espacio inferior del contenedor de evento */
}


/* Clearfix para evitar que los botones floten */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: var(--footer-background);
    color: var(--text-color);
    margin-top: auto;
}

#participants-list li {
    background-color: var(--list-background);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

#map-container {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 8px;
    display: none;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Modo Claro */
body.light-mode {
    --background-color: #f4f4f9;
    --text-color: #333;
    --accent-color: #6a5acd;
    --hover-color: #908ac4;
    --section-background: #f8f8f8;
    --form-background: #fff;
    --button-background: #6a5acd;
    --button-hover-background: #555;
    --footer-background: #e7e7e7;
    --list-background: #f2f2f2;
    --title-event:#2f3236; 
    --asccolor: #d6a4ff;
    --descolor:#ff8888;
    --link:#04389a;
}

/*Estilos para el interruptor de tema*/
.theme-switch-wrapper {
    margin-left: auto; /* Mantener margen izquierdo automático */
    margin-top: 4px; /* Ajustar el margen superior según sea necesario */
    margin-right: 20px; /* Agregar un margen derecho adicional de 10px */
    margin-bottom: 0; /* Puedes ajustar el margen inferior si es necesario */
}



.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f3f3f;
    transition: 0.4s;
    border-radius: 30px;
    z-index: 1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
    z-index: 3;
}

input:checked + .slider {
    background-color: rgb(185, 185, 185);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
/* Iconos */
.sun-icon {
    position: absolute;
    top: 50%;
    left: 3px; /* Mover hacia la derecha */
    transform: translateY(-55%); /* Mover hacia abajo */
    font-size: 12px;
    color: #FFD700; /* Color amarillo */
    z-index: 0; /* Asegura que esté detrás del interruptor */

}

.moon-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-55%);
    font-size: 12px;
    color: #ffffff; /* Color blanco */
    z-index: 0; /* Asegura que esté detrás del interruptor */

}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }

    .side-nav {
        left: -250px;
    }

    .side-nav.show {
        left: 0;
    }

    main {
        padding: 20px;
    }
}


/* Estilos para la sección de eventos */
/* Estilos para la sección de eventos */

/* Añade este CSS a tu archivo styles.css */
/* Estilos para el sidebar del evento */
/* Estilos para el contenedor del evento */
.event {
    display: flex;
    margin-bottom: 20px; /* Espacio inferior entre eventos */
}

/* Estilos para la información principal del evento */
.event-info {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px; /* Espaciado interno */
    background-color: var(--list-background); /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra ligera */
}

.event-info h3 {
    margin-top: 0; /* Elimina el margen superior del título */
    margin-bottom: 10px; /* Espacio inferior del título */
}

.event-info p {
    margin-bottom: 8px; /* Espacio inferior entre párrafos */
}

/* Estilos para la barra lateral del evento */
.event-sidebar {
    flex-basis: 300px; /* Ancho fijo del sidebar */
    padding: 10px; /* Espaciado interno */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para el hipervínculo modificado */
a {
    color: var(--link); /* Color azul para el hipervínculo */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave del color */
}

a:hover {
    color: #1e87d3; /* Color más oscuro al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
/* Carrusel de imágenes */
.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    width: 100%;
}

.carousel-item {
    display: none;
    width: 100%;
    transition: opacity 0.5s;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.info-link {
    display: inline-block;
    margin-top: 10px;
    color: var(--link); /* Ajusta este color según el tema de tu sitio */
    text-decoration: none;
    font-size: 1em;
}

.info-link:hover {
    text-decoration: underline;
}


/* Estilos básicos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    border-radius: 5px;
    overflow: hidden;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--background-color);
}
th {
    background-color: var(--background-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--text-color);
}
td {
    font-size: 14px;
}
tr:hover {
    background-color: #f5f5f50f;
}
.posicion {
    width: 50px;
    text-align: center;
}
.equipo {
    display: flex;
    align-items: center;
}
.escudo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.asciende {
    background-color: var(--asccolor); /* Color verde para el equipo que asciende */
}
.desciende {
    background-color: var(--descolor); /* Color rojo para el equipo que desciende */
}

/* Archivo: styles.css */
.imagen-1 {
    width:250px;height:auto;float:right;margin-right:25px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .imagen-1 {
        width: 110px; /* Ajusta el ancho de la imagen */
        height: auto; /* Mantiene la proporción de la imagen */
        border: 1px solid #000; /* Añade un borde negro de 2px */
        margin-right: 10px;

    }
}

.foto {
    text-align: center; /* Para centrar horizontalmente */
  }

  

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    #contact {
        padding: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
        padding: 8px;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

a {
    color: var(--link); /* Color azul para el hipervínculo */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave del color */
}

a:hover {
    color: #1e87d3; /* Color más oscuro al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

#news {
    background: var(--section-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#search {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

#news-articles {
    display: grid;
    gap: 15px;
}

#news-articles article {
    background: var(--list-background);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#news-articles article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-content {
    flex: 1;
    margin-right: 10px;
}

.news-image {
    width: 120px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

#news-articles h3 {
    margin-bottom: 10px;
    color: var(--text-color);
}

#news-articles p {
    color: var(--text-color);
}


#about {
    background: var(--section-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    max-width: 600px;
    color: var(--text-color);
}

#about p {
    margin-bottom: 10px;
    line-height: 1.6;
}
