/* Modo Oscuro */
:root {
    --background-color: #1f1f1f;
    --text-color: #ddd;
    --accent-color: #6a5acd;
    --hover-color: #483d8b;
    --section-background: #2f2f2f;
    --form-background: #333;
    --button-background: #6a5acd;
    --button-hover-background: #483d8b;
    --footer-background: #1f1f1f;
    --list-background: #333;
    --title-event:#c0ddff; 

}

/* Modo Claro */
body.light-mode {
    --background-color: #f4f4f9;
    --text-color: #333;
    --accent-color: #6a5acd;
    --hover-color: #efefef;
    --section-background: #ededed;
    --form-background: #fff;
    --button-background: #6a5acd;
    --button-hover-background: #555;
    --footer-background: #e7e7e7;
    --list-background: #e4e4e4;
    --title-event:#303336; 
}

/* CSS para la barra de navegación de secciones */
.section-nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    padding: 0px 0;
    margin: 0px 0;
}

.section-nav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section-nav a:hover {
    background-color: #ddd;
    color: black;
}

.section-nav a.active {
    background-color: var(--button-background);
    color: white;
}

.section-nav .back-to-tournaments {
    float: right;
}

.section-nav .back-to-tournaments i {
    color: var(--text-color); /* Color de la flecha */
    font-size: 1.5em; /* Tamaño de la flecha */
    position: relative; /* Necesario para el z-index */
    z-index: 2; /* Asegura que la flecha esté en el frente */
}

.section-nav .back-to-tournaments:hover i {
    color: var(--title-event); /* Color de la flecha al pasar el cursor por encima */
}

/* Estilos para las secciones */
section {
    display: none;
}

section.active {
    display: block;
}



/* Estilos para el cuadro del torneo */
.bracket {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}


.match {
    background-color: var(--list-background);
    padding: 10px;
    margin: 10px 0;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    color: var(--text-color);
}

.match-info {
    font-size: 0.8em;
    color: var(--text-color);
}

.match::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.match:first-child::before {
    top: 50%;
}

.round:first-child .match::before {
    display: none;
}

@media (max-width: 768px) {
    .bracket {
        flex-direction: column;
        align-items: center;
    }

    .round {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .match {
        width: 100px;
    }
}

/* Estilos para la lista de partidos */
#matches-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#matches-list .match-item {
    background-color: var(--list-background);
    border: 1px solid var(--text-color);
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

#matches-list .match-item span {
    margin-right: 10px;
}

@media (max-width: 768px) {
    #matches-list .match-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    #matches-list .match-item {
        width: calc(100% - 20px);
    }
}