/* Modo Oscuro */
:root {
    --background-color: #1f1f1f;
    --text-color: #ddd;
    --accent-color: #6a5acd;
    --hover-color: #483d8b;
    --section-background: #2f2f2f;
    --form-background: #333;
    --button-background: #6a5acd;
    --button-hover-background: #483d8b;
    --footer-background: #1f1f1f;
    --list-background: #333;
    --title-event: #c0ddff;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Modo Claro */
body.light-mode {
    --background-color: #f4f4f9;
    --text-color: #333;
    --accent-color: #6a5acd;
    --hover-color: #efefef;
    --section-background: #ededed;
    --form-background: #fff;
    --button-background: #6a5acd;
    --button-hover-background: #555;
    --footer-background: #e7e7e7;
    --list-background: #e4e4e4;
    --title-event: #303336;
}

/* CSS para la barra de navegación de secciones */
.section-nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.section-nav a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section-nav a:hover {
    background-color: #ddd;
    color: black;
}

.section-nav a.active {
    background-color: var(--button-background);
    color: white;
}

.section-nav .back-to-tournaments {
    float: right;
}

.section-nav .back-to-tournaments i {
    color: var(--text-color); /* Color de la flecha */
    font-size: 1.5em; /* Tamaño de la flecha */
    position: relative; /* Necesario para el z-index */
    z-index: 2; /* Asegura que la flecha esté en el frente */
}

.section-nav .back-to-tournaments:hover i {
    color: var(--title-event); /* Color de la flecha al pasar el cursor por encima */
}

/* Estilos para las secciones */
section {
    display: none;
}

section.active {
    display: block;
}

.bracket {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#bracket .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.round-header {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-color);
}

.match {
    background-color: var(--list-background);
    padding: 10px;
    margin: 10px 0;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    color: var(--text-color);
}

.match-info {
    font-size: 0.8em;
    color: var(--text-color);
}

.match::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
}

.round:first-child .match::before {
    display: none;
}

.connector {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
}

.connector.vertical {
    position: absolute;
    left: 100%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--text-color);
}

@media (max-width: 768px) {
    .bracket {
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
    }

    .round {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: auto;
    }

    .match {
        width: 100px;
    }

    .connector {
        display: none;
    }
}

/* Estilos para la lista de partidos */
#matches-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#matches-list .match-item {
    background-color: var(--list-background);
    border: 1px solid var(--text-color);
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

#matches-list .match-item span {
    margin-right: 10px;
}

@media (max-width: 768px) {
    #matches-list .match-item {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #matches-list .match-item {
        width: 90%;
    }
}

/* Estilos para la barra de navegación de secciones en dispositivos móviles */
@media (max-width: 768px) {
    .section-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-nav a {
        width: 100%; /* Ocupar todo el ancho disponible */
        padding: 12px 0; /* Reducir el padding vertical para más espacio */
    }

    .section-nav a.active {
        background-color: var(--button-background);
        color: white;
    }

    .section-nav .back-to-tournaments {
        float: none;
        margin-top: 10px; /* Espacio adicional arriba para el botón Volver a Torneos */
    }

    .section-nav .back-to-tournaments i {
        font-size: 1.2em; /* Tamaño ligeramente reducido para dispositivos móviles */
    }
}


.language-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-switch img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


/* Estilo para el hipervínculo modificado */
.event-info h3 a {
    color: var(--title-event); /* Color azul para el hipervínculo */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave del color */
}

.event-info h3 a:hover {
    color: #1e87d3; /* Color más oscuro al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}